{% extends "base.html" %} {% block title %} Home {% endblock %}
<!-- fix this code so it doesn't break-->
{% block content %}
<section class="hero-section">
  <div class="hero">
    <div class="hero-container container mt-10">
      <div class="row align-items-center justify-content-between">
        <div
          class="col-lg-4 aos-init aos-animate align-items-center"
          data-aos="fade-left">
          <p>This will be an image</p>
        </div>
        <div class="col-lg-4 aos-init aos-animate">
          <h2 class="mb-4 mt-4 heading">Zenith Spa studio</h2>
          <p>
            Elevate Your Well-being. Unwind in Pure Serenity with Our Exquisite
            Headspa Treatments
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div>
    <div class="section mt-8">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 mx-auto text-center aos-init aos-animate">
            <h2 class="mb-4 mt-4 heading">Zenith Spa studio</h2>
          </div>
        </div>
        <div class="row g-5">
          <div class="col-lg-4 aos-init aos-animate">
            <p>
              Enter a realm of calm and renewal at Zenith Spa Studio. Located in
              the heart of Gothenburg, our sanctuary offers a haven for those
              seeking a moment of relaxation away from the hustle and bustle of
              daily life.
            </p>
          </div>
          <div class="col-lg-4 aos-init aos-animate">
            <p>
              Immerse yourself in a haven of well-being, where every treatment
              is carefully crafted to nurture your body, mind, and spirit. From
              soothing scalp massages to deeply hydrating rituals, each
              experience is designed to transport you to a state of serene
              contentment.
            </p>
          </div>
          <div class="col-lg-4 aos-init aos-animate">
            <p>
              Our dedicated team of therapists is committed to creating a
              personalized experience for every guest, ensuring that each visit
              leaves you feeling refreshed and uplifted. Step into our world of
              comfort and tranquility, where the pressures of the outside world
              melt away, and inner peace is rediscovered. Embrace the essence of
              well-being and embark on a journey of self-discovery with us.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 aos-init aos-animate">
            <p>a link to booking or registration</p>
          </div>
          <div class="col-lg-4 aos-init aos-animate">
            <p>a inpput feild for newsletter/or booking</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
