{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
 <section class="hero-section">
  <div class="hero">
    <div>
      <p>THis will be an image</p>
    </div>
    <div>
      <h2>Zenith Spa studio</h2>
      <p>Welcome to us att zenith spa text. Short descripton of company</p>
    </div>
  </div>
 </section>
 <section>
  <div>
    <div>
      <p>More info text plus link to booking?</p>
    </div>
    <div>
      <div> <p> a link to booking or registration  </p></div>
      <div> <p>a inpput feild for newsletter/or booking</p></div>
    </div>
  </div>
 </section>

{%endblock %}