<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% block css_files %}{% endblock %}
  </head>
  <body>
    <header>
      <h1>Zenith Spa Studio</h1>
      <nav>Here will be links to pages</nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <div class="footer-div">
        <p>Here will be adress</p>
      </div>
      <div>
        <p>Here will be social media</p>
      </div>
      <div>
        <p>Here will be newsletter</p>
      </div>
    </footer>
  </body>
</html>
